

/* Mobile device responsive style  */
@media only screen and (max-width:480px) {

    .half-width img{
        width: 395px;
    }
    #responsive{
        width: 100%;
        background-color: #2d25a0; 
    }
    .slider-glary {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .half-width{
    width: 100%;
    float: left;
    margin-left: 0px;
    
    }
    .half-width img {
        width: 350px;
        height: 350px;
        
    }
.players-info-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}
.player-info{
    width: 100%;
}
.player, .All-Highlights, .involved-country-list,.award-info, .footer-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    align-content: space-between;
}
/* tabletes & large smartphone devices */
@media only screen and (min-width:481px) and (max-width:768px){
    .players-info-main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    .player, .All-Highlights, .involved-country-list,.award-info, .footer-main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        align-content: space-between;
    }
}